body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%), url(../images/building_1.jpg);
  min-height: 100%;
}

.w3-button {
  border-radius: 5%;
}

.w3-bar .w3-button {
  padding: 16px;
}

/* partners formatting */
#partners img {
  height: auto;
  max-width: 150px;
}

.row { 
  margin-left:0;
  margin-right: 0;
}

/* about formatting */
.about-explanation {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

/* slideshow formatting */
* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* footer styling*/

.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: black;
  min-height: 250px;
  padding: 5%;
}

footer-content {
  padding-right: 0;
  padding-left: 0;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc li a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.social_footer_ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 2% 0;
}

.social_footer_ul li {
  padding-top: 10px;
  margin: 5px 10px;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}


.col-md-6{
  margin: 2rem 0;
}

.footer-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-col {
  margin:0 6%;
}

@media only screen and (max-width:500px){
  col_white_amrc {
    font-size: 0.8rem;
  }
}